p{

    color:black;
    
    text-align: justify;
    
    font-size: 12px;
    
    }

    
    h1{

        color: red;
        
        text-align: center;
        
        font-size: 25px;
        
        }

        background-color: black;
        
